[user]
	name = Hilmar Wiegand
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[pull]
  rebase = false
[init]
	defaultBranch = main
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  rlg = !git --no-pager log $(git describe --tags --abbrev=0)..HEAD --color --no-merges --pretty=format:'* %Cred%h%Creset - %s' && echo ""
  persona = !git-persona
	dt = difftool
	mt = mergetool

[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE

[merge]
	tool = nvimdiff2
[mergetool]
	prompt = false
[mergetool "nvimdiff2"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
